<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Beep</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css"/>
  </head>

  <body class="splash">
    <div class="container">
      <img class="splashlogo" src="img/logo.png"/>
      <p>Smart-share rides, save money and have an enjoyable journey experience.</p>
        <div class="register-buttons">
            <button class="fblink"><img class="register-button" src="img/login-button/login-facebook.png"/></button>
            <a href="signup.html" id="emaillink"><img class="register-button" src="img/register-button/signup-email.png"/></a>
        </div>
        <div class="skip-link"><a href="login.html">Have an account? <b>Log in</b></a></div>
    </div>
  </body>
</html>
