<!DOCTYPE html>
<html>
  <head>
    <title>Beeep</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/toogle-switch.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
    <script>
    /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
        // document.getElementById("main").style.marginLeft = "300px";
    }
    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("plannedJourney").style.marginLeft = "0";
    }
    </script>
  </head>

  <header class="header-container">
    <div class="title left">
      <i class="material-icons" onclick="goBack()">keyboard_arrow_left</i>
    </div>
    <script>
          function goBack() {
              window.history.back();
          }
    </script>
    <div class="title center">Plan a Journey</div>
    <div class="title right"><i class="material-icons" onclick="openNav()">dehaze</i></div>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="journeys.html"><i class="material-icons" id="menuIcons">favorite</i>Planned Journeys</a>
      <a href="#"><i class="material-icons" id="menuIcons">home</i>Home Address</a>
      <a href="#"><i class="material-icons" id="menuIcons">work</i>Work Address</a>
      <a href="#"><i class="material-icons" id="menuIcons">settings</i>Settings</a>
      <a href="#"><i class="material-icons" id="menuIcons">exit_to_app</i>Logout</a>
    </div>
    <script>
          function goBack() {
              window.history.back();
          }
    </script>
  </header>

  <body>
    <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyA47PFbXllb4teaat_10j6FnVOKzK8SWB4",
            authDomain: "beep-app-1484774811866.firebaseapp.com",
            databaseURL: "https://beep-app-1484774811866.firebaseio.com",
            storageBucket: "beep-app-1484774811866.appspot.com",
            // messagingSenderId: "946101429046"
          };
          firebase.initializeApp(config);
    </script>
    <script src="js/storeData.js"></script>
      <p class="planLabel">What's the name of this journey?</p>
      <input id="eventName" onchange="updateInput(this.val)" type="text" placeholder="">

      <p class="planLabel">Driver's Location</p>
      <input id="startAddress" onchange="updateInput(this.val)" type="text" placeholder="">

      <p class="planLabel">Add or Request Pick Up Location</p>
      <input id="pickUpAddressOne" onchange="updateInput(this.val)" type="text" placeholder="Pick Up Location One"><br>
      <input id="pickUpAddressTwo" onchange="updateInput(this.val)" type="text" placeholder="Pick Up Location Two"><br>
      <div class="createInput input_fields_wrap"><a href="#" id="" class="add_field_button"><i class="material-icons" id="createInputIcon">add_circle</i></a></div>
      <script src="js/createInput.js"></script>

      <p class="planLabel">Destination</p>
      <input id="endAddress" type="text" onchange="updateInput(this.val)" placeholder="">

      <br><br><button id="submitJourney" onclick="loadPlanJourney(); updateInput();" class="button-1">Plan</button>

    <!--map hidden-->
    <div id="map" style="display:none"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 51.4502, lng: -2.6503},
          zoom: 15
        });

        var infoWindow = new google.maps.InfoWindow({map: map});

        // Autocomplete search
        var inputOrigin = document.getElementById('startAddress');
        var inputLocationOne = document.getElementById('pickUpAddressOne');
        var inputLocationTwo = document.getElementById('pickUpAddressTwo');
        var inputDestination = document.getElementById('endAddress');

        var options = {
          componentRestrictions: {country: "gb"}
         };

        var autocomplete = new google.maps.places.Autocomplete(inputOrigin, options);
        var autocomplete = new google.maps.places.Autocomplete(inputLocationOne, options);
        var autocomplete = new google.maps.places.Autocomplete(inputLocationTwo, options);
        var autocomplete = new google.maps.places.Autocomplete(inputDestination, options);


        autocomplete.bindTo('bounds', map);

        // HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Current location');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD0QqOTpvkybMTag7VzEpkvwCCzP8Uh5c&libraries=places&callback=initMap"
        async defer></script>
  </body>
</html>
